{% extends 'base.html' %}

{% block body %}

{% if pres %}
	<table>
		<thead>
			<tr>
				<th>Number</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Age</th>
				<th>Home State</th>
				<th>Home City</th>
				<th>Terms</th>
				<th>Year of First Term</th>
			</tr>
		</thead>
		<tbody>
			{% for row in pres %}
			<tr>
			<td> {{ row.NUM }}</td> 
			<td> {{ row.FIRSTNAME }} </td>
			<td> {{ row.LASTNAME }} </td>
			<td> {{ row.AGE }} </td>
			<td> {{ row.HOMESTATE }} </td>
			<td> {{ row.HOMECITY }} </td>
			<td> {{ row.TERMS }} </td>
			<td> {{ row.YROFFRSTTERM }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
{% endblock %}
