{% extends 'base.html' %}

{% block body %}
<br>
<div class="container">

	{% if pres %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Number</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Age</th>
					<th scope="col">Home State</th>
					<th scope="col">Home City</th>
					<th scope="col">Terms</th>
					<th scope="col">Year of First Term</th>
				</tr>
			</thead>
			<tbody>
				{% for row in pres %}
				<tr>
					<td scope="row"> {{ row.NUM }}</td> 
					<td> {{ row.FIRSTNAME }} </td>
					<td> {{ row.LASTNAME }} </td>
					<td> {{ row.AGE }} </td>
					<td> {{ row.HOMESTATE }} </td>
					<td> {{ row.HOMECITY }} </td>
					<td> {{ row.TERMS }} </td>
					<td> {{ row.YROFFRSTTERM }} </td>
					<td> 
						<form action="{{ url_for('get_pres', Num=row.NUM) }}" method="POST">
							<input class="btn btn-info" type="submit" value="Details">
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
</div>
{% endblock %}
